# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# UE4 Specific Ignores
Project Peter's Band UE4/Intermediate/
Project Peter's Band UE4/Saved/
Project Peter's Band UE4/Build/
Project Peter's Band UE4/*.sdf
Project Peter's Band UE4/*.sln
Project Peter's Band UE4/Binaries/
Project Peter's Band UE4/*.v12.suo
*.opensdf